body {
	background-color: #f6f6f6;
}

.app {
	text-align: center;
	width: 80%;
	margin: auto;
}

.loading {
	width: 100%;
	text-align: center;
}

h1 {
	color: #37b4be;
}

h2 {
	color: #333333;
}

.button-rating-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-bottom: 16px;
	flex-wrap: wrap;
}

.button-rating {
	width: 80px;
	height: 30px;
	margin-right: 8px;
	margin-bottom: 8px;
	line-height: 30px;
	font-size: 0.7rem;
	background-color: white;
	border: 1px solid #e7e7e7;
	border-radius: 4px;
	cursor: pointer;
}

.button-rating-selected {
	background-color: #49d8e2;
}

div.button-rating:hover {
	background-color: #49d8e2;
}
